*{
    box-sizing: border-box;
}

.container{
    background-color: #8d99ae ;
    min-height: 95vh;
   
}

:root{
    width: 100%;
}

body{
    margin: 0%;
}
  
.nameholder{
    padding:10%
}
.log{
    position: absolute;
}

.login{
    text-align: center;
}

.form-input{
    width: 200px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #8d99ae;
    
  }
  
  .card {
    width: 100%;
    border: 1px solid #ccc;
    height: 300px;
    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 0px solid #000000;
  }
  
  .card-body {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .body{
    margin-top: -329px;
    background-color: #edf2f4;
    border-radius: 33px 33px 33px 33px;
-moz-border-radius: 33px 33px 33px 33px;
-webkit-border-radius: 33px 33px 33px 33px;
border: 0px solid #000000;
-webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.47);
box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.47);
  }
  .btnDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Dash-card{
    width:50%;
    background-color: #edf2f4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 163px;
    padding-top: 39px;
    font-size: 1.1em;
    border-radius: 33px 33px 33px 33px;
  -moz-border-radius: 33px 33px 33px 33px;
  -webkit-border-radius: 33px 33px 33px 33px;
  border: 0px solid #000000;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.47);
  box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.47);

  }

  .Dash-con{
    width: 100%;
    height: 95vh;
    display: flex;
  }

  .delte-wrap{
    text-align: center;
    margin: 35px;
  }

