.wrapper{
 display: flex;
 white-space: nowrap;
 overflow-x: auto;
}

.shift{
    padding: 10px;
}

.staff{
    border: 1px solid black;
    min-height: 10px;
    padding: 10px;
    background-color:
    #75E6DA;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.subcontainer{
    flex: 1 0 auto;
    border: 1px solid black;
    min-height: 100px;
    text-align: center;
    background-color: #D4F1F4;
    font-size: 1.2em;
}

.day{
    border: 1px solid black;
    min-height: 10px;
    padding: 10px;

}
.date{
    border: 1px solid black;
    min-height: 10px;
    padding: 10px;
}
.morning{
    border: 1px solid black;
    min-height: 150px;
}
.afternoon{
    border: 1px solid black;
    min-height: 150px;
}

@media screen and (max-width: 720px){
    .container{
        overflow-x: scroll;
       }
}