.footer{
  width: 100%;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: black;
}

.footerholder{
    margin-top: 8px;
}

.afooter{
    margin-top: -10px;
    color: aliceblue;
}